nav.navbar.navbar-default
    .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header  
          .navbar-brand.my-page-header(style="font-size:50")
            img.my-image-brand(alt='Brand' src='resources/bifrost_logo.gif')
          h1.my-navbar-heading JSON TO HTML CONVERTER
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                | Hi Madhusudhan Reddy
                span.caret
              |           
              ul.dropdown-menu(role='menu')
                li
                  a(href='#') Logout


